.container{
    margin:1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
}
.button{
    background-color: #4CAF50;
    border-color:black;
    border-style: groove;
    border-width: 56%;
    color: #ffffff;
    padding: 12px 24px;
    font-Size: 16px;
    text-decoration: none;
    border-radius:8px;
    cursor: pointer;
    
    
    
  };

